[includeIf "gitdir:~/**"]
path = .gitconfig-personal
[includeIf "gitdir:~/dev/work/"]
path = .gitconfig-work

[alias]
all = add -A
st = status
c = commit
s = status
a = add
d = diff

[difftool]
prompt = false

[grep]
extendRegexp = true
lineNumber = true

[push]
default = current

[pull]
rebase = false

[color]
filemode = false
diff = auto
status = auto
branch = auto
pager = true

[core]
editor = vim
excludesfile = ~/.gitignore
compression = -1
autocrlf = input
whitespace = trailing-space,space-before-tab
precomposeunicode = true
[credential]
	helper = "!f() { /var/home/rob/.vscode-server/bin/618725e67565b290ba4da6fe2d29f8fa1d4e3622/node /tmp/vscode-remote-containers-0c6f02ee-8b2f-41cc-99e7-95d9ce6818cf.js git-credential-helper $*; }; f"
